.main {
  background-color: #24282f;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-size: 64px;
  text-align: center;
  color: white;
  line-height: 0;
  padding-top: 100px;
  margin: 0;
}
.subTitle {
  text-align: center;
  font-size: 24px;
  color: white;
}
.section {
  background-image: url("/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: grid;
  place-items: center;
}

.form {
  text-align: center;
  margin-top: 100px;
}
.input {
  padding: 20px 50px;
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
}
.button {
  padding: 20px 30px;
  border: none;
  background-color: rgb(48, 48, 48);
  color: white;
  cursor: pointer;
}
.listItem {
  margin: 20px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(32, 32, 32) 35%,
    rgb(82, 82, 82) 100%
  );
  transition: 0.3s;
}
.listItem:hover {
  transition: 0.3s;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(54, 54, 54) 35%,
    rgb(82, 82, 82) 100%
  );
}
.listItem img {
  width: 30%;
  border-radius: 10px 0 0 10px;
}
.listItem a {
  display: flex;
}
.charInformation {
  margin-left: 10px;
  color: white;
}
.charInformation span {
  color: rgb(182, 182, 182);
  font-weight: bold;
}
.charInformation p {
  line-height: 8px;
}
.loadMore {
  margin: 0 auto;
  padding: 10px 30px;
  display: grid;
}
.footer {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background-color: rgb(39, 39, 39);
  display: grid;
  place-items: center;
  color: silver;
}
.logo {
  width: 100%;
  filter: drop-shadow(3px 3px 6px black);
}
